#### Exercício 1 
Apresentar o quadrado dos números inteiros de 15 a 200

In [ ]:
for i in range(15, 201):
  print(f'{i}² = {i**2}')

15² = 225
16² = 256
17² = 289
18² = 324
19² = 361
20² = 400
21² = 441
22² = 484
23² = 529
24² = 576
25² = 625
26² = 676
27² = 729
28² = 784
29² = 841
30² = 900
31² = 961
32² = 1024
33² = 1089
34² = 1156
35² = 1225
36² = 1296
37² = 1369
38² = 1444
39² = 1521
40² = 1600
41² = 1681
42² = 1764
43² = 1849
44² = 1936
45² = 2025
46² = 2116
47² = 2209
48² = 2304
49² = 2401
50² = 2500
51² = 2601
52² = 2704
53² = 2809
54² = 2916
55² = 3025
56² = 3136
57² = 3249
58² = 3364
59² = 3481
60² = 3600
61² = 3721
62² = 3844
63² = 3969
64² = 4096
65² = 4225
66² = 4356
67² = 4489
68² = 4624
69² = 4761
70² = 4900
71² = 5041
72² = 5184
73² = 5329
74² = 5476
75² = 5625
76² = 5776
77² = 5929
78² = 6084
79² = 6241
80² = 6400
81² = 6561
82² = 6724
83² = 6889
84² = 7056
85² = 7225
86² = 7396
87² = 7569
88² = 7744
89² = 7921
90² = 8100
91² = 8281
92² = 8464
93² = 8649
94² = 8836
95² = 9025
96² = 9216
97² = 9409
98² = 9604
99² = 9801
100² = 10000
101² = 10201
102² = 10404
103² = 10609
104² = 10816
105² = 11025
106² = 11236
107² = 11449
108² = 11664
109² = 11881
110² = 12100
111² = 12321
112² = 12544
113² = 12769
114² = 12996
115² = 13225
116² = 13456
117² = 13689
118² = 13924
119² = 14161
120² = 14400
121² = 14641
122² = 14884
123² = 15129
124² = 15376
125² = 15625
126² = 15876
127² = 16129
128² = 16384
129² = 16641
130² = 16900
131² = 17161
132² = 17424
133² = 17689
134² = 17956
135² = 18225
136² = 18496
137² = 18769
138² = 19044
139² = 19321
140² = 19600
141² = 19881
142² = 20164
143² = 20449
144² = 20736
145² = 21025
146² = 21316
147² = 21609
148² = 21904
149² = 22201
150² = 22500
151² = 22801
152² = 23104
153² = 23409
154² = 23716
155² = 24025
156² = 24336
157² = 24649
158² = 24964
159² = 25281
160² = 25600
161² = 25921
162² = 26244
163² = 26569
164² = 26896
165² = 27225
166² = 27556
167² = 27889
168² = 28224
169² = 28561
170² = 28900
171² = 29241
172² = 29584
173² = 29929
174² = 30276
175² = 30625
176² = 30976
177² = 31329
178² = 31684
179² = 32041
180² = 32400
181² = 32761
182² = 33124
183² = 33489
184² = 33856
185² = 34225
186² = 34596
187² = 34969
188² = 35344
189² = 35721
190² = 36100
191² = 36481
192² = 36864
193² = 37249
194² = 37636
195² = 38025
196² = 38416
197² = 38809
198² = 39204
199² = 39601
200² = 40000

In [ ]:
parada = 15
n = 15
while(parada!=201):
  qud = n**2
  print(qud)
  parada+=1
  n+=1

225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000
10201
10404
10609
10816
11025
11236
11449
11664
11881
12100
12321
12544
12769
12996
13225
13456
13689
13924
14161
14400
14641
14884
15129
15376
15625
15876
16129
16384
16641
16900
17161
17424
17689
17956
18225
18496
18769
19044
19321
19600
19881
20164
20449
20736
21025
21316
21609
21904
22201
22500
22801
23104
23409
23716
24025
24336
24649
24964
25281
25600
25921
26244
26569
26896
27225
27556
27889
28224
28561
28900
29241
29584
29929
30276
30625
30976
31329
31684
32041
32400
32761
33124
33489
33856
34225
34596
34969
35344
35721
36100
36481
36864
37249
37636
38025
38416
38809
39204
39601
40000

#### Exercício 2

Apresentar o total da soma obtida dos cem primeiros números inteiros
(1+2+3+4+5+6+7+...+97+98+99+100)

In [ ]:
parada = 0
soma = 0
n = 0
while(parada!=100):
  n+=1
  soma+=n
  parada+=1

print(soma)

5050

In [ ]:
soma = 0
for i in range(0,101):
  soma+=i

print(soma)

5050

#### Exercício 3
Escrever um algoritmo que lê 5 valores para a variável A, um de cada vez,
e contar quantos destes valores são negativos. Após a leitura, o programa deve mostrar
a quantidade de números negativos

In [ ]:
parada = 0
contador = 0
while parada < 5:
  n = float(input('Digite um número: '))
  parada+=1
  if n < 0:
    contador+=1
  

print(f'Foram inseridos {contador} números negativos')

Digite um número: 8
Digite um número: -2
Digite um número: -3
Digite um número: -2.3
Digite um número: 9
Foram inseridos 3 números negativos

In [ ]:
for c in range(0,5):
  x = float(input('Digite um número: '))
  if n<0:

Digite um número: 5
Digite um número: 4
Digite um número: 5
Digite um número: 5
Digite um número: 4

#### Exercício 4
Ler duas notas e informar a média. Se o valor digitado for menor do que 0 (zero)
ou maior do que 10 (dez), o usuário deve digitar a nota novamente

In [ ]:
parada = 0
soma = 0
while parada<2:
  n = float(input('Digite um número: '))
  if n<0 or n>10:
    n = float(input('Digite outro número: '))
  else:
    parada+=1
    soma+=n
    media = soma/2
print(f'A média dos números inseridos é {media:.2f}')

Digite um número: 6
Digite um número: 13
Digite outro número: 43
Digite um número: 12
Digite outro número: 11
Digite um número: 11
Digite outro número: 11
Digite um número: 1
A média dos números inseridos é 3.50

In [ ]:
1