#### Exercício 1 - No dicionário 'my_dict' são armazenados as notas de alunos
##### Imprima a nota do aluno 'Júlio'

In [2]:
my_dict = {
    'Ana': 10,
    'Júlio': 8,
    'Antônio': 9,
    'Maria': 7
}
my_dict['Júlio']

8

##### Exercício 2 -No dicionário 'my_dict' são armazenados as notas de alunos, mas a aluna 'Ana' faz mais parte da turma
##### Imprima my_dict revisada com a exclusão da aluna 'Ana'

In [4]:
my_dict = {
    'Ana': 10,
    'Júlio': 8,
    'Antônio': 9,
    'Maria': 7
  }
my_dict.pop('Ana')
my_dict

{'Antônio': 9, 'Júlio': 8, 'Maria': 7}

##### Exercício 3 - No dicionário 'my_dict' são armazenados as notas de alunos, a aluna 'Carla' acabou de entrar na turma
##### Imprima my_dict revisada com a inclusão da aluna 'Carla' e sua nota 0, pois ela ainda fará seus exercícios

In [6]:
my_dict = {
    'Ana': 10,
    'Júlio': 8,
    'Antônio': 9,
    'Maria': 7
  }
my_dict['Carla']=0
my_dict

{'Ana': 10, 'Antônio': 9, 'Carla': 0, 'Júlio': 8, 'Maria': 7}

##### Exercício 4 - Encontrar o erro no código abaixo
##### my_dict não deverá ser modificada

In [7]:
my_dict = {
      'Ana': 10,
      'Júlio': 8,
      'Antônio': 9,
      'Maria': 7
    }
print(my_dict['Maria José'])

KeyError: ignored