#### Exercício 

Muitas vezes os dados que você irá acessar virão no formato de dicionários.

**Crie  um DataFrame usando o dicionário abaixo e  use a lista rótulos(também abaixo) como índice.**

In [ ]:
import pandas as pd

In [ ]:
exam_data = {'nome': ['Sandra', 'Carlos', 'Regiane', 'Cesar', 'Eliana', 'Marcelio', 'Marcos', 'Leandra', 'Roberto', 'João'],
'pontuação': [10, 9, 6.5, 8.7, 9, 6.8, 9.5, 5, 8, 4],
'tentativas': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'aprovado': ['sim', 'sim', 'não', 'sim', 'sim', 'não', 'sim', 'não', 'sim', 'não']}

rotulos = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**crie o dataframe:**

In [ ]:
df=pd.DataFrame({'Nome': exam_data['nome'],
              'Pontuação': exam_data['pontuação'],
              'Tentativas': exam_data['tentativas'],
              'Aprovado':exam_data['aprovado'],
              'Rotulo':rotulos
              })

**visualize algumas linhas da  tabela que você criou**

In [ ]:
df.head()

      Nome  Pontuação  Tentativas Aprovado Rotulo
0   Sandra       10.0           1      sim      a
1   Carlos        9.0           3      sim      b
2  Regiane        6.5           2      não      c
3    Cesar        8.7           3      sim      d
4   Eliana        9.0           2      sim      e

**mude o nome da coluna pontuação para notas**

In [ ]:
df.columns=['Nome','Notas','Tentativas','Aprovado','Rotulo']
df

       Nome  Notas  Tentativas Aprovado Rotulo
0    Sandra   10.0           1      sim      a
1    Carlos    9.0           3      sim      b
2   Regiane    6.5           2      não      c
3     Cesar    8.7           3      sim      d
4    Eliana    9.0           2      sim      e
5  Marcelio    6.8           3      não      f
6    Marcos    9.5           1      sim      g
7   Leandra    5.0           1      não      h
8   Roberto    8.0           2      sim      i
9      João    4.0           1      não      j

**Imprima informações basicas do dataframe que você criou**

In [ ]:
df

       Nome  Notas  Tentativas Aprovado Rotulo
0    Sandra   10.0           1      sim      a
1    Carlos    9.0           3      sim      b
2   Regiane    6.5           2      não      c
3     Cesar    8.7           3      sim      d
4    Eliana    9.0           2      sim      e
5  Marcelio    6.8           3      não      f
6    Marcos    9.5           1      sim      g
7   Leandra    5.0           1      não      h
8   Roberto    8.0           2      sim      i
9      João    4.0           1      não      j

**Imprima as colunas do seu dataframe**

In [ ]:
df.columns

Index(['Nome', 'Notas', 'Tentativas', 'Aprovado', 'Rotulo'], dtype='object')

In [ ]:
df['Nome']

0      Sandra
1      Carlos
2     Regiane
3       Cesar
4      Eliana
5    Marcelio
6      Marcos
7     Leandra
8     Roberto
9        João
Name: Nome, dtype: object

In [ ]:
df.iloc[0,1]

10.0

In [ ]:
from google.colab import drive
drive.mount('/content/drive')